section.blog-content
	article
		display block
		font-size 1.3em
		line-height 1.6
		-webkit-font-smoothing atialiased
		color #333
		margin-bottom 3.5em
		+below(bp)
			font-size 1.6em
		p,ul,ol
			font-weight 400
			line-height 1.7
			word-wrap break-word
		p
			+below(bp)
				font-size .7em
		ul,ol
			width 90%
			margin 1.3em auto
			text-align left
			+below(bp)
				font-size .65em
			li
				word-wrap break-word
				margin 20px 0
				ul
					width 82%
					word-wrap break-word
		img
			display block
			max-width 80%
			margin 0 auto
		#layout
			width 90%
			margin 0 auto
		p,h1,h2,h3,h4,iframe,blockquote
			word-wrap break-word
			text-align left
			width 90%
			margin 1.3em auto
		h1,h2,h3,h4
			font-weight 600
			line-height 1.1
			color #444
		blockquote
			background #dedede
			border 1px solid #ccc
			padding 10px
		h2
			font-size 1.4em
		h3
			font-size 1.2em
			
			
.dsq-comment-header
	white-space normal !important
		
			
		
			