//edit()
bp = 990px
html
    ::selection
        background #d04c3f
        color #fff

body
    mainFont(300)
    background #fff
    
a
    text-decoration none
    font-weight bold
    color #404d5b
    transition color 0.2s
    &:hover
        color #d04c3f
    +below(bp)
        color #d04c3f            

section
    margin 0

aside
    span(3/12)
    shift(-9/12, span)
    height 100%
    max-height 100%
    position fixed
    top 0
    left 0
    overflow visible
    overflow-y auto
    z-index 5
    background #263238
    +below(bp)
        unshift()
        display block
        width 100%
        position relative
        min-height 580px
    .sidebar-content
        align(both)
        color #fff
        p
            text-align center
            font-size 1.3em
            +below(bp)
                font-size 1.2em
        .block
            img
                width 230px
                +below(bp)
                    width 100%
            .icons
                +below(bp)
                    margin 35px 0
                width 90%
                margin 0 auto
                .social-icons
                    col(1/3)
                    text-align center
                    img
                        margin 20px 0
                        width 75%
                        height auto
section.blog-content
    background #fff
    span(9/12)
    shift(3/12, span)
    +below(bp)
        unshift()
        display block
        width 100%
    .header-post
        background #ebebeb
        position relative
        .btn-back
            position absolute
            top 20px
            +below(bp)
                top 50px
            -webkit-animation btnback 1s alternate linear infinite
            svg
                &:hover
                    //fill #fff
        header
            padding-top 20px
            padding-bottom 35px
            text-align center
            h1
                color #333
                margin-bottom 0
                margin-top 0
                text-transform none
                padding 0 100px
                +below(bp)
                    margin 16px 0
                    font-size 1.7em
                    font-weight 400
                    
                font-size 2em
                line-height 1.5
            span
                +below(bp)
                    font-size .7em
                font-size 1em
                margin-right 20px
                color #959595
    article
        background #fff