@import 'jeet/'
@import 'rupture/'
@import 'sections/'

        
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

// utilizar a função border-box quando for criar o input para o formulário e para não haver
// quebra de css

border-box()
    box-sizing border-box
    -webkit-box-sizing border-box
    -moz-box-sizing border-box

body
	font-size 1em 
    font-family 'Raleway', Arial, sans-serif